<div class="content" role="main">
  <!-- Highlight Card -->
  <!--<div class="card card-large">
    <h1>{{ title }} app is running!</h1>
  </div>-->
  <!--<div class="card card-large">
    <h1>{{ message }}</h1>
  </div>-->

  <!--<div><app-day4></app-day4></div>-->
  <!--<div><app-day5></app-day5></div>-->
  <!--<div><app-day6></app-day6></div>-->
  <!--<div><app-day7></app-day7></div>-->
  <!--<div><app-day8></app-day8></div>-->
  <!--<div><app-day9></app-day9></div>-->
  <!--<div><app-day10></app-day10></div>-->
  <!--<div><app-day11></app-day11></div>-->
  <!--<div><app-day12></app-day12></div>-->
  <!--<div><app-day13></app-day13></div>-->
  <!--<div><app-day14></app-day14></div>-->
  <!--<div>
    <app-day15 (childEvent)="message = $event" [parentData]="name"></app-day15>
  </div>-->
  <div><app-day16></app-day16></div>
</div>

<router-outlet></router-outlet>
